
.hero{
    background: url(../assets/hero.jpg) no-repeat center center/cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    width: 100%;
    height: 50vh;
}

.hero h1{
    font-size: 4em;
    color: var(--primary-color);
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h3{
    font-size: 1.45em;
    color: var(--text-color);
    text-align: center;
    margin-top: 10px;
    padding-right: 120px;
}