
.hero{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 35vh;
}

.hero-overlay {
    /* Semi-transparent overlay for better text visibility */
    /* position: relative; */
    display: flex;
    flex-direction: column; /* Allow stacking of content */
    justify-content: center; /* Center the overlay content */
    align-items: center; /* Center the overlay content vertically */    
    z-index: 1; /* Ensure it is behind the text */
    height: 35vh;
}

.hero h1{
    font-size: 4em;
    color: var(--primary-color);
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h3{
    font-size: 1.45em;
    color: var(--text-color);
    text-align: center;
    margin-top: 10px;
    padding-right: 120px;
}